<div class="container-fluid animated fadeIn fast mt-2">

    <div class="card mb-3 border-dark">
        <div class="card-header border-dark">
            <h4>Vista Previa</h4>
        </div>
        <div class="card-body">
            <div class="card mb-3 border-primary">
                <div class="card-header border-primary">
                    <h4>Nombre de Evento</h4>
                </div>
                <div class="card-body">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/img/eventos/img-e1.jpg" height="350px" class="p-1">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/img/eventos/img-e2.jpg" height="350px" class="p-1">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/img/eventos/img-e3.jpg" height="350px" class="p-1">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/img/eventos/img-e4.jpg" height="350px" class="p-1">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <img src="assets/img/eventos/img-e5.jpg" height="350px" class="p-1">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    <hr>
                    <div class="container-fluid">
                        <h4>Descrpición</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur excepturi facilis voluptatum tempore quam deleniti molestias vero atque? Magni culpa commodi ipsam soluta et sit quod blanditiis fugit nostrum similique.</p>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="card-text"><small class="text-muted">20/04/2020 - 22/04/2020</small></p>
                </div>
            </div>

            <div class="card mb-3 border-success">
                <div class="card-header border-success">
                    <h4>Boleto General</h4>
                </div>
                <div class="card-body">
                    <div class="row h-100">
                        <div class="col-md-9">
                            <h5>Descripción</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente a delectus nemo suscipit asperiores ea, odio libero culpa veritatis officiis accusantium dignissimos vero inventore iure nobis alias neque eligendi assumenda?</p>
                        </div>
                        <div class="col-md-3 my-auto">
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoFechas">Promocion por Fechas</button>
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoEvento">Promocion por Evento Relacionado</button>
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoCodigo">Promocion por Codigo</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Inventario</h5>
                            <p>0 Boletos</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table table-borderless table-sm">
                        <thead class="text-center">
                            <tr>
                                <th scope="col" style="width: 5%;">#</th>
                                <th scope="col" style="width: 80%;">Promocion Aplicada</th>
                                <th scope="col" style="width: 15%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row">1</th>
                                <td>Promocion por Fechas</td>
                                <td>
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Promoción por Evento Relacionado</td>
                                <td>
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Promoción por Codigo</td>
                                <td class="align-middle">
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card mb-3 border-success">
                <div class="card-header border-success">
                    <h4>Boleto VIP</h4>
                </div>
                <div class="card-body">
                    <div class="row h-100">
                        <div class="col-md-9">
                            <h5>Descripción</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente a delectus nemo suscipit asperiores ea, odio libero culpa veritatis officiis accusantium dignissimos vero inventore iure nobis alias neque eligendi assumenda?</p>
                        </div>
                        <div class="col-md-3 my-auto">
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoFechas">Promocion por Fechas</button>
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoEvento">Promocion por Evento Relacionado</button>
                            <button type="button" class="btn btn-outline-success btn-block" data-toggle="modal" data-target="#promoCodigo">Promocion por Codigo</button>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-9">
                            <h5>Inventario</h5>
                            <p>0 Boletos</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table table-borderless table-sm">
                        <thead class="text-center">
                            <tr>
                                <th scope="col" style="width: 5%;">#</th>
                                <th scope="col" style="width: 80%;">Promocion Aplicada</th>
                                <th scope="col" style="width: 15%;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th scope="row">1</th>
                                <td>Promocion por Fechas</td>
                                <td>
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Promoción por Evento Relacionado</td>
                                <td>
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Promoción por Codigo</td>
                                <td class="align-middle">
                                    <button type="button" aria-label="Close" class="btn btn-danger">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-3 border-primary">
        <div class="card-header border-primary">
            <h4>Opciones de edición</h4>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Información Principal
                          </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formInfoE" (ngSubmit)="guardarInfo()">
                                <div class="form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="nombreEvento">Nombre:</label>
                                        <input type="text" class="form-control" id="nombreEvento" placeholder="Ingrese el Nombre del Evento" formControlName="nombre">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="enlaceEvento">Enlace:</label>
                                        <input type="text" class="form-control" id="enlaceEvento" placeholder="Ingrese el Enlace del Evento" formControlName="enlace">
                                    </div>
                                </div>


                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="tipo">Tipo:</label>
                                        <select id="tipo" class="form-control" formControlName="tipo">
                                        <option value="evento">Evento</option>
                                        <option value="fiesta">Fiesta</option>
                                      </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="descEvento">Descripción:</label>
                                        <textarea id="descEvento" class="form-control" rows="5" formControlName="desc"></textarea>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Fechas y Horarios
                          </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formFechas" (ngSubmit)="guardarFechas()">
                                <div class="input-group form-row mb-3" formGroupName="fecha">
                                    <div class="col-md-6">
                                        <label for="fechaInicio">Fecha de inicio:</label>
                                        <input type="date" id="fechaInicio" class="form-control" formControlName="inicio">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="fechaCierre">Fecha de cierre:</label>
                                        <input type="date" id="fechaCierre" class="form-control" formControlName="cierre">

                                    </div>
                                </div>

                                <div class="input-group form-row mb-3" formGroupName="horario">
                                    <div class="col-md-6">
                                        <label for="horaInicio">Hora de inicio:</label>
                                        <input type="time" id="horaInicio" class="form-control" formControlName="inicio">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="horaCierre">Hora de cierre:</label>
                                        <input type="time" id="horaCierre" class="form-control" formControlName="cierre">
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Imágenes
                          </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formImgE" (ngSubmit)="guardarImg()">
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="imgPrincipal">Imagen Principal del Evento:</label><br>
                                        <input type="file" id="imgPrincipal" accept=".jpg" (change)="imgPrincipal($event)" formControlName="imgPrincipal">
                                        <small *ngIf="validacionTamImg" class="form-text text-danger">Error: Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        <div class="row" *ngIf="(urlPrincipal != null) && (!validacionTamImg)">
                                            <div class="col-md-7">
                                                <img [src]="urlPrincipal" height="200" class="float-right">
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" aria-label="Close" class="btn btn-danger float-left" (click)="borrarImgPrincipal()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="ordenImg">Orden de Evento: <small>(Posición de imagen principal en el carousel de eventos)</small></label>
                                        <input type="number" class="form-control" id="ordenImg" min="0" step="1" formControlName="ordenImg">
                                    </div>
                                </div>
                                <div class="form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="imgEvento">Imagenes del Evento:</label><br>
                                        <input type='file' id="imgEvento" accept=".jpg" (change)="multiImg($event)" multiple formControlName="imgsEvento">
                                        <small *ngIf="validacionTamImgs" class="form-text text-danger">Error: Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        <ng-container *ngIf="(urls != null) && (!validacionTamImgs)">
                                            <div class="row" *ngFor='let url of urls; let i = index'>
                                                <div class="col-md-7">
                                                    <img [src]="url " height="200 " class="float-right">
                                                </div>
                                                <div class="col-md-5">
                                                    <button type="button" aria-label="Close" class="btn btn-danger float-left" (click)="borrarImgs(i)">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="imgCarousel">Imagen de Carousel:</label><br>
                                        <input type="file" id="imgCarousel" accept=".jpg" (change)="imgCarousel($event)" formControlName="imgCarousel">
                                        <small *ngIf="validacionTamImgCarousel" class="form-text text-danger">Error: Tamaño mínimo 1250x690. Tamaño Máximo: 4096x2160</small>
                                        <div class="row" *ngIf="(urlCarousel != null) && (!validacionTamImgCarousel)">
                                            <div class="col-md-7">
                                                <img [src]="urlCarousel" height="200" class="float-right">
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" aria-label="Close" class="btn btn-danger float-left" (click)="borrarImgCarousel()">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" type="submit">Guardar cambios</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                          Boletos
                        </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">

                            <div class="input-group form-row mb-3">
                                <div class="col-md-12">
                                    <button class="btn btn-outline-success btn-block mx-auto" style="width: 50%; display: block;" type="button" (click)="crearBoleto()">+ Crear Boleto</button>
                                </div>
                            </div>

                            <form [formGroup]="formBoletos" (ngSubmit)="guardarBoletos()">
                                <div *ngFor="let boleto of boletos.controls; let i = index" formArrayName="boletos">
                                    <div [formGroupName]="i" class="border rounded mb-3 p-3">
                                        <div class="row p-0">
                                            <div class="col-md-11">
                                                <h5>Boleto {{ i+1 }}</h5>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" aria-label="Close" class="btn btn-danger" (click)="quitarBoleto(i)">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                        </div>
                                        <div class="input-group form-row mb-2">
                                            <div class="col-md-6">
                                                <label for="nobmre">Nombre del Boleto: <small class="text-danger">*</small></label>
                                                <input type="text" id="nombre" class="form-control" placeholder="Ingrese el Nombre del Boleto" formControlName="nombre">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="inventario">Inventario: <small class="text-danger">*</small></label>
                                                <input type="number" min="0" step="1" value="0" id="inventario" class="form-control" formControlName="inventario">
                                            </div>
                                        </div>

                                        <div class="input-group form-row mb-2">
                                            <div class="col-md-6">
                                                <label for="desc">Descripción: <small class="text-danger">*</small></label>
                                                <textarea id="desc" rows="5" class="form-control" formControlName="desc"></textarea>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="precio">Precio por Boleto: <small class="text-danger">*</small></label>
                                                <input type="number" min="0" step="1" value="0" id="precio" class="form-control" formControlName="precio">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="cantBoletos > 0">
                                    <button class="btn btn-success btn-block mx-auto" style="width: 25%; display: block;" type="submit">Guardar Boletos</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promoFechas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promocion por Fechas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <!-- <form [formGroup]="promoFechas">-->
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="fechaInicio">Fecha de inicio: </label>
                        <input type="date" id="fechaInicio" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="fechaCierre">Fecha de cierre: </label>
                        <input type="date" name="fechaCierre" id="fechaCierre" class="form-control">
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="inventario">Inventario: <small>(Cantidad de Boletos a los que se les aplicará la promoción.)</small></label>
                        <input type="number" min="0" step="1" value="0" id="inventario" class="form-control">
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="precio">Precio por Boleto:</label>
                        <input type="number" min="0" step="1" value="0" id="precio" class="form-control">
                    </div>
                </div>
                <hr>
            </div>
            <div class="row pb-2 mt-0">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Aplicar Promoción</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promoEvento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promoción por Evento Relacionado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="input-group form-row mb-3">
                    <div class="col-md-12">
                        <label for="evento">Evento:</label>
                        <select id="evento" class="form-control">
                          <option selected>La Arrolladora en C3 2021</option>
                        </select>
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-12">
                        <label for="boletoReferencia">Boleto de Referencia:</label>
                        <select id="boletoReferencia" class="form-control">
                          <option selected>La Arrolladora en C3 2020</option>
                        </select>
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="inventario">Inventario: <small>(Cantidad de Boletos a los que se les aplicará la promoción.)</small></label>
                        <input type="number" min="0" step="1" value="0" id="inventario" class="form-control">
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="precio">Precio por Boleto:</label>
                        <input type="number" min="0" step="1" value="0" id="precio" class="form-control">
                    </div>
                </div>
                <hr>
            </div>
            <div class="row pb-2 mt-0">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Aplicar Promoción</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="promoCodigo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Promoción por Código</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="codigo">Código: <small>(Clave única de 10 caracteres.)</small></label>
                        <input type="text" minlength="10" maxlength="10" id="codigo" class="form-control" placeholder="AAAAAAAAAA">
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="inventario">Inventario: <small>(Cantidad de Boletos a los que se les aplicará la promoción.)</small></label>
                        <input type="number" min="0" step="1" value="0" id="inventario" class="form-control">
                    </div>
                </div>
                <div class="input-group form-row mb-3">
                    <div class="col-md-6">
                        <label for="precio">Precio por Boleto:</label>
                        <input type="number" min="0" step="1" value="0" id="precio" class="form-control">
                    </div>
                </div>
                <hr>
            </div>
            <div class="row pb-2 mt-0">
                <div class="col-md-12 text-center">
                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success">Aplicar Promoción</button>
                </div>
            </div>
        </div>
    </div>
</div>
